@font-face {
  font-family: 'Cantata One';
  font-style: normal;
  font-weight: 400;
  src: local('Cantata One'), local('CantataOne-Regular'), url(https://fonts.gstatic.com/s/cantataone/v8/PlI5Fl60Nb5obNzNe2jslWxDvcQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
::selection {
  background: #FADCDA;
}
.columns {
  display: flex;
  flex-wrap: wrap;
}
.columns > * {
  width: 100%;
}
@media (min-width: 800px) {
  .columns {
    box-sizing: border-box;
    flex-wrap: nowrap;
  }
  .columns > * {
    overflow-y: auto;
    width: 50%;
  }
}
.viewport {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
a {
  color: #210402;
  font-weight: 500;
  text-decoration: none;
}
a.button {
  border: 1px solid #D59A99;
  border-radius: 16px;
  display: block;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 2.62px;
  margin: 3em;
  margin-top: 0;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
}
body {
  color: #210402;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
  text-rendering: geometricPrecision;
  transition: 0.5s background;
}
body.project.scrolled {
  color: black;
}
body.dark-project.scrolled h1,
body.light-project:not(.scrolled) h1,
body.dark-project.scrolled h2,
body.light-project:not(.scrolled) h2,
body.dark-project.scrolled p,
body.light-project:not(.scrolled) p,
body.dark-project.scrolled div.subheader,
body.light-project:not(.scrolled) div.subheader,
body.dark-project.scrolled div.summary,
body.light-project:not(.scrolled) div.summary,
body.dark-project.scrolled nav a:not(.logo),
body.light-project:not(.scrolled) nav a:not(.logo),
body.dark-project.scrolled a.next,
body.light-project:not(.scrolled) a.next {
  color: white;
}
body.dark-project.scrolled div.summary ul li:not(:first-child),
body.light-project:not(.scrolled) div.summary ul li:not(:first-child) {
  border-color: rgba(255, 255, 255, 0.25);
}
body.affinity-petcare-comunimals.scrolled {
  background: #EA9375;
}
@media (min-width: 800px) {
  body.bread-butter section.framed.sample img {
    padding: 10px 12em;
  }
  body.bread-butter section.framed.sample:nth-of-type(2) img {
    padding-top: 6em;
  }
}
body.bread-butter:not(.scrolled) {
  background: #F7CAC9;
}
body.bread-butter:not(.scrolled) header img,
body.bread-butter:not(.scrolled) nav img {
  filter: invert(100%);
}
body.integral:not(.scrolled) {
  background: #F7CAC9;
}
body.integral:not(.scrolled) h1,
body.integral:not(.scrolled) div.subheader,
body.integral:not(.scrolled) div.summary ul li div:first-of-type,
body.integral:not(.scrolled) nav a {
  color: #016988;
}
body.integral:not(.scrolled) header img,
body.integral:not(.scrolled) nav img {
  filter: hue-rotate(200deg) brightness(0.5) saturate(100%);
}
body.mythology:not(.scrolled) {
  background: #CBC7C2;
}
body.pippa-lynn.scrolled {
  background: #CAF2F2;
}
body.that-brand:not(.scrolled) {
  background: #EDCDC2;
}
body.that-brand:not(.scrolled) header img,
body.that-brand:not(.scrolled) nav img {
  filter: invert(100%);
}
body.wines-of-chile:not(.scrolled) {
  background: #D59A99;
}
body.index h2 {
  color: #F8D1CF;
  text-align: center;
}
@media (max-width: 799px) {
  body.index section.who,
  body.index section.what,
  body.index section.contact {
    margin-top: 4em;
  }
}
@media (min-width: 800px) {
  body.index section.who,
  body.index section.contact,
  body.index section.what,
  body.index section.work {
    display: none;
  }
}
a.next {
  bottom: 20%;
  display: block;
  font-weight: 400;
  position: fixed;
  right: 4em;
  text-orientation: sideways;
  padding: 2em;
  text-transform: uppercase;
  transform: rotate(180deg);
  transition: 0.5s color;
  writing-mode: vertical-rl;
  z-index: 100;
}
@media (max-width: 799px) {
  a.next {
    display: none;
  }
}
a.next:after {
  content: "";
  background: #FADCDA;
  width: 60%;
  height: 2px;
  position: absolute;
  display: block;
  top: calc(50% - 1px);
  left: -2em;
}
div.subheader {
  font-size: 13px;
  line-height: 1.5em;
  margin: auto;
  max-width: 700px;
  letter-spacing: 0.73px;
  text-align: left;
  transition: 0.5s color;
}
@media (min-width: 800px) {
  div.subheader {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
  }
}
h1,
h2 {
  color: #F8D1CF;
  font-family: 'Cantata One', serif;
  text-align: center;
}
h1 {
  font-size: 29px;
  font-weight: normal;
  line-height: 1.2em;
  margin: auto;
  max-width: 896px;
  transition: 0.5s color;
}
@media (min-width: 800px) {
  h1 {
    font-size: 3.5em;
  }
}
h2 {
  font-size: 29px;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 28px;
}
header {
  display: flex;
  padding: 24px;
  padding-left: 26px;
  padding-bottom: 0;
}
@media (min-width: 800px) {
  header {
    display: none;
  }
}
header img {
  height: 40px;
  width: 40px;
}
header img.menu {
  margin-left: auto;
}
nav {
  align-items: center;
  background: #F7CAC9;
  height: 0;
  left: 0;
  position: fixed;
  font-size: 0.8em;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  top: 0;
  transition: height 0.5s, opacity 0.5s;
  width: 100%;
  z-index: 100;
}
@media (min-width: 800px) {
  nav {
    background: none;
    display: block;
    height: auto;
    left: 48px;
    opacity: 1;
    overflow: visible;
    top: 48px;
    width: auto;
  }
  nav.shown {
    display: block;
  }
}
nav.shown {
  display: flex;
  height: 100%;
  opacity: 1;
}
nav div {
  width: 100%;
}
nav img {
  display: block;
  margin: auto;
  margin-bottom: 3em;
  transition: 0.5s filter;
  width: 40px;
}
nav img.wordmark {
  width: 13px;
}
@media (max-height: 775px) {
  nav img.wordmark {
    display: none;
  }
}
nav img.close {
  height: 32px;
  position: absolute;
  right: 28px;
  top: 28px;
  width: 32px;
}
@media (min-width: 800px) {
  nav img.close {
    display: none;
  }
}
nav a.logo img.gem-blue {
  display: none;
}
nav a.logo img.gem-pink,
nav a.logo img.workmark {
  display: block;
}
@media (max-width: 799px) {
  nav a.logo {
    left: 2em;
    position: absolute;
    top: 2em;
    width: 40px;
  }
  nav a.logo img.gem-blue {
    display: block;
  }
  nav a.logo img.gem-pink,
  nav a.logo img.wordmark {
    display: none;
  }
}
nav a:not(.logo) {
  box-sizing: border-box;
  color: #016988;
  display: block;
  font-family: 'Cantata One', serif;
  font-size: 34px;
  font-weight: 400;
  margin: auto;
  letter-spacing: 2.13px;
  padding: 1em;
  position: relative;
  transition: 0.5s color, 0.5s opacity;
  width: 100%;
  z-index: 50;
}
@media (min-width: 800px) {
  nav a:not(.logo) {
    color: #210402;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    padding-bottom: 2em;
    text-orientation: sideways;
    text-transform: uppercase;
    width: 16px;
    writing-mode: vertical-rl;
  }
}
nav a:not(.logo).selected {
  font-weight: 500;
}
@media (min-width: 800px) {
  nav a:not(.logo).selected:before {
    background: url(https://s3.eu-west-3.amazonaws.com/anasolsona/nav-selected.svg) no-repeat center center;
    background-size: contain;
    content: "";
    left: 50%;
    height: 100%;
    position: absolute;
    top: calc(50% - 1em);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    z-index: 45;
  }
}
p {
  font-size: 13px;
  letter-spacing: 2.13px;
  line-height: 1.5em;
  transition: 0.5s color;
}
@media (min-width: 800px) {
  p {
    font-size: 15px;
    line-height: 32px;
  }
}
section.who > div {
  padding: 0 2em;
}
@media (min-width: 800px) {
  section.who > div {
    padding: 6em 6em 6em 12em;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  section.who div {
    width: 70%;
  }
  section.who img {
    width: 30%;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  section.who {
    flex-wrap: wrap;
  }
  section.who div {
    width: 100%;
  }
  section.who img {
    display: none;
  }
}
@media (max-width: 799px) {
  body.who section.who > div {
    margin: 2em auto;
  }
}
section.contact {
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  box-sizing: border-box;
  color: #F8D1CF;
  display: flex;
  margin: auto;
  padding: 2em;
  text-align: center;
}
section.contact h1,
section.contact h2 {
  font-size: 5em;
  margin-top: 0;
}
@media (min-width: 800px) {
  section.contact h1,
  section.contact h2 {
    font-size: 9em;
  }
}
section.contact div {
  font-family: 'Cantata One', serif;
  font-size: 16px;
  max-width: 500px;
}
@media (min-width: 800px) {
  section.contact div {
    font-size: 20px;
  }
}
section.contact div.email {
  margin-top: 1em;
}
div.carousel {
  overflow: auto;
  width: 100%;
}
div.carousel ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 2em;
  width: fit-content;
}
div.carousel ul li {
  display: block;
  box-sizing: border-box;
  margin-bottom: 1em;
  width: calc(90vw - 4em) !important;
}
div.carousel ul li:not(:last-child) {
  margin-right: 2em;
}
div.carousel ul li img {
  height: 60vh;
  object-fit: cover;
  width: 100%;
}
section.intro {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
section.intro > * {
  width: 100%;
}
@media (min-width: 800px) {
  section.intro {
    box-sizing: border-box;
    flex-wrap: nowrap;
  }
  section.intro > * {
    overflow-y: auto;
    width: 50%;
  }
}
@media (min-width: 800px) {
  section.intro {
    align-items: center;
    height: auto;
    padding: 0;
  }
}
section.intro > div {
  padding: 2em;
}
section.intro > div > * {
  display: block;
  margin: auto;
  width: 100%;
}
@media (min-width: 800px) {
  section.intro > div > * {
    width: 18em;
  }
}
section.intro img.emblem,
section.intro img.wordmark {
  box-sizing: border-box;
  max-width: 18em;
  padding: 0 2em;
}
section.intro div.description {
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 1.5em;
  margin-top: 3.2em;
}
@media (min-width: 800px) {
  section.intro div.description {
    font-size: 1.25em;
  }
}
section.intro div.description span {
  display: block;
  color: #FADCDA;
  font-weight: 500;
}
section.intro > *,
section.who > * {
  box-sizing: border-box;
}
@media (min-width: 800px) {
  section.intro > *,
  section.who > * {
    width: 50%;
  }
}
section.intro img.portrait,
section.who img.portrait {
  align-self: stretch;
  height: 60vh;
  margin-top: 1em;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 800px) {
  section.intro img.portrait,
  section.who img.portrait {
    height: 100vh;
    margin: 0;
    width: 50%;
  }
}
body.who section.who h2,
body.what section.who h2,
body.work section.who h2,
body.project section.who h2,
body.who section.what h2,
body.what section.what h2,
body.work section.what h2,
body.project section.what h2,
body.who section.work h2,
body.what section.work h2,
body.work section.work h2,
body.project section.work h2,
body.who section.project h2,
body.what section.project h2,
body.work section.project h2,
body.project section.project h2 {
  display: none;
}
@media (max-width: 799px) {
  body.who section.who h1,
  body.what section.who h1,
  body.work section.who h1,
  body.project section.who h1,
  body.who section.what h1,
  body.what section.what h1,
  body.work section.what h1,
  body.project section.what h1,
  body.who section.work h1,
  body.what section.work h1,
  body.work section.work h1,
  body.project section.work h1,
  body.who section.project h1,
  body.what section.project h1,
  body.work section.project h1,
  body.project section.project h1,
  body.who section.who h2,
  body.what section.who h2,
  body.work section.who h2,
  body.project section.who h2,
  body.who section.what h2,
  body.what section.what h2,
  body.work section.what h2,
  body.project section.what h2,
  body.who section.work h2,
  body.what section.work h2,
  body.work section.work h2,
  body.project section.work h2,
  body.who section.project h2,
  body.what section.project h2,
  body.work section.project h2,
  body.project section.project h2 {
    display: block;
    margin: 1.5em 0;
    order: 1;
  }
  body.who section.who > div,
  body.what section.who > div,
  body.work section.who > div,
  body.project section.who > div,
  body.who section.what > div,
  body.what section.what > div,
  body.work section.what > div,
  body.project section.what > div,
  body.who section.work > div,
  body.what section.work > div,
  body.work section.work > div,
  body.project section.work > div,
  body.who section.project > div,
  body.what section.project > div,
  body.work section.project > div,
  body.project section.project > div {
    order: 3;
  }
  body.who section.who img.portrait,
  body.what section.who img.portrait,
  body.work section.who img.portrait,
  body.project section.who img.portrait,
  body.who section.what img.portrait,
  body.what section.what img.portrait,
  body.work section.what img.portrait,
  body.project section.what img.portrait,
  body.who section.work img.portrait,
  body.what section.work img.portrait,
  body.work section.work img.portrait,
  body.project section.work img.portrait,
  body.who section.project img.portrait,
  body.what section.project img.portrait,
  body.work section.project img.portrait,
  body.project section.project img.portrait {
    order: 2;
    margin-top: 0;
  }
}
section.project {
  box-sizing: border-box;
  padding: 0 1.5em;
  text-align: center;
}
@media (min-width: 800px) {
  section.project {
    padding: 6em 6em 0 12em;
  }
}
section.project h1 {
  color: black;
}
section.project div.summary {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  transition: 0.5s color;
}
@media (min-width: 800px) {
  section.project div.summary {
    flex-wrap: nowrap;
    margin-top: 6em;
  }
}
section.project div.summary div.main,
section.project div.summary img.main,
section.project div.summary ul {
  position: relative;
  width: 100%;
}
@media (min-width: 800px) {
  section.project div.summary div.main,
  section.project div.summary img.main,
  section.project div.summary ul {
    width: 50%;
  }
}
section.project div.summary div.main img,
section.project div.summary img.main img,
section.project div.summary ul img {
  width: 100%;
}
section.project div.summary div.main img:first-of-type,
section.project div.summary img.main img:first-of-type,
section.project div.summary ul img:first-of-type {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
}
section.project div.summary ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 799px) {
  section.project div.summary ul {
    margin-top: 2em;
  }
}
@media (min-width: 800px) {
  section.project div.summary ul {
    padding-left: 4em;
  }
}
section.project div.summary ul li {
  font-size: 13px;
  line-height: 1.5em;
  padding: 16px 0;
  text-align: left;
}
@media (min-width: 800px) {
  section.project div.summary ul li {
    font-size: 18px;
    padding: 32px 0;
  }
}
section.project div.summary ul li div:first-of-type {
  opacity: 0.5;
}
section.project div.summary ul li:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
section.sample.framed img {
  padding: 3em 0;
}
@media (min-width: 800px) {
  section.sample.framed img {
    padding: 6em 12em;
  }
}
section.sample.framed + section.sample.framed img {
  padding-top: 0;
}
@media (min-width: 800px) {
  section.sample.framed-ends img {
    padding: 6em 0;
  }
}
@media (min-width: 800px) {
  section.sample.framed-sides img {
    padding: 0 12em 0 12em;
  }
}
@media (min-width: 800px) {
  section.sample.framed-left img {
    padding: 0 2em 0 12em;
  }
}
@media (max-width: 800px) {
  section.sample.viewport {
    min-height: unset;
    padding: 10em 0;
  }
}
section.sample h2,
section.sample p {
  box-sizing: border-box;
  color: black;
  max-width: 1014px;
  margin: auto;
  padding: 0 24px;
  text-align: left;
}
section.sample h2:not(:first-child),
section.sample p:not(:first-child) {
  margin-top: 1em;
}
section.sample h2 {
  margin-bottom: 32px;
}
section.sample p {
  letter-spacing: -0.37px;
}
@media (min-width: 800px) {
  section.sample p {
    font-size: 18px;
  }
}
section.sample img {
  box-sizing: border-box;
  object-fit: contain;
  width: 100%;
}
@media (min-width: 800px) {
  section.sample p + img,
  section.sample h2 + img {
    margin-top: 6em;
  }
}
section.sample > div {
  padding: 2em 0;
}
@media (min-width: 800px) {
  section.sample > div {
    padding: 10em;
    padding-bottom: 2em;
  }
}
section.sample div.columns {
  max-width: 1014px;
  margin: auto;
}
section.sample.columns {
  align-items: center;
  display: flex;
}
section.sample.columns div,
section.sample.columns img {
  box-sizing: border-box;
}
@media (min-width: 800px) {
  section.sample.columns div + img {
    padding: 6em;
  }
}
@media (min-width: 800px) {
  section.sample.columns div,
  section.sample.columns img {
    width: 50%;
  }
}
@media (min-width: 800px) {
  section.sample.columns > *:first-child {
    padding-right: 2.5em;
  }
  section.sample.columns > *:last-child {
    padding-left: 2.5em;
  }
}
section.sample.images img:first-of-type {
  border-left: 0;
}
section.sample.images img:last-of-type {
  border-right: 0;
}
section.what {
  box-sizing: border-box;
}
@media (min-width: 800px) {
  section.what {
    padding: 2em 8em 2em 14em;
  }
}
section.what ul {
  list-style: none;
  margin: 0;
  padding: 0 2em;
}
@media (min-width: 800px) {
  section.what ul {
    display: flex;
    padding: 0;
  }
}
section.what ul li {
  border: 1px solid #EDCDC2;
  box-sizing: border-box;
  line-height: 1.5em;
  margin-bottom: 2em;
  padding: 2em;
}
@media (min-width: 800px) {
  section.what ul li {
    margin: 1em;
    padding: 2em;
    width: calc(100% / 3);
  }
}
section.what ul li div {
  letter-spacing: 2px;
  line-height: 1.5em;
  font-size: 13px;
  text-align: center;
}
@media (min-width: 800px) {
  section.what ul li div {
    line-height: 2em;
    font-size: 15px;
  }
}
section.what ul li div.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  margin: auto;
  max-width: 360px;
  padding: 25%;
  position: relative;
  width: 100%;
}
@media (min-width: 800px) {
  section.what ul li div.icon {
    padding: 35%;
  }
}
section.what ul li div.icon:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  margin: auto;
  padding: 25%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.5s opacity;
  width: 100%;
}
section.what ul li div.icon:hover:before {
  opacity: 1;
}
section.what ul li div.icon.icon-1 {
  background-image: url(https://s3.eu-west-3.amazonaws.com/anasolsona/what-1.jpg);
}
section.what ul li div.icon.icon-1:before {
  background-image: url(https://s3.eu-west-3.amazonaws.com/anasolsona/what-1-hover.jpg);
}
section.what ul li div.icon.icon-2 {
  background-image: url(https://s3.eu-west-3.amazonaws.com/anasolsona/what-2.jpg);
}
section.what ul li div.icon.icon-2:before {
  background-image: url(https://s3.eu-west-3.amazonaws.com/anasolsona/what-2-hover.jpg);
}
section.what ul li div.icon.icon-3 {
  background-image: url(https://s3.eu-west-3.amazonaws.com/anasolsona/what-3.jpg);
}
section.what ul li div.icon.icon-3:before {
  background-image: url(https://s3.eu-west-3.amazonaws.com/anasolsona/what-3-hover.jpg);
}
section.what ul li div:last-of-type {
  margin-top: 2em;
}
section.work a.button {
  margin-top: 1em;
}
section.work ul {
  box-sizing: border-box;
  list-style: none;
  padding: 0 2em;
}
@media (min-width: 800px) {
  section.work ul {
    column-gap: 2em;
    column-count: 3;
    display: block;
    padding: 9em;
    padding-left: 14em;
  }
}
section.work ul li {
  display: inline-block;
  margin-bottom: 1em;
  width: 100%;
}
section.work a:not(.button) {
  display: block;
  position: relative;
}
section.work a:not(.button):hover div {
  opacity: 1;
}
section.work a:not(.button) div {
  background: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
  opacity: 0;
  font-family: 'Cantata One', serif;
  height: 100%;
  left: 0;
  padding: 2em;
  position: absolute;
  text-align: center;
  transition: 0.5s opacity;
  top: 0;
  width: 100%;
}
section.work a:not(.button) div span {
  font-size: 32px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
section.work a:not(.button) img {
  display: block;
  width: 100%;
}
@media (max-width: 799px) {
  section.work a:not(.button) img {
    object-fit: cover;
    width: 100%;
  }
}
